/* TELA 1 */

#tela1 .container{
    padding-top: 70px ;
    margin-bottom: 70px;
    margin-right: 200px;
    display: flex;
    justify-content: space-between;
}

#tela1 .container .sobre-grafite h2{
    padding-top: 200px;
    padding-bottom: 16px;
    font-family: 'Roboto', sans-serif;
    font-size: x-large;

}

#tela1 .container .sobre-grafite p{
    margin-bottom: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
}

#tela1 .container img {
    width: 600px;
    margin: 0 100px;
}

#tela1 hr {
    margin: 0 60px;
    background-color: black;
}

/* FIM TELA */

