body{
    background-color: #fff;
}

/* TELA 1 */

#tela1 .container{
    padding-top: 70px ;
    margin-bottom: 70px;
    margin-right: 200px;
    display: flex;
    justify-content: space-between;
}

.sobre-grafite{
    width: 25%;
}

#tela1 .container .sobre-grafite{
    text-align: center;
}

#tela1 .container .sobre-grafite h2{
    padding-top: 150px;
    padding-bottom: 16px;
    font-family: 'Roboto', sans-serif;
    font-size: x-large;

}

#tela1 .container .sobre-grafite p{
    margin-bottom: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
}

#tela1 hr {
    margin: 0 60px;
    background-color: black;
}

/* FIM TELA 1 */

/* TELA 2 */

#tela2 .container{
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
    margin-bottom: 70px;
    margin-left: 200px;
}

#tela2 .container .quemsou {
    text-align: center;
}

#tela2 .container .quemsou h2{
    padding-top: 200px;
    padding-bottom: 16px;
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
}

#tela2 .container .quemsou p{
    margin-bottom: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
}

#tela2 .container img {
    width: 500px;
    margin: 0 100px;
}

#tela2 hr {
    margin: 0 60px;
    background-color: black;
}

/* Tela 2 Fim */

/* Tela 3 */

#tela3 .container{
    display: block;
    padding-top: 70px;
    margin-bottom: 70px;
    margin: 0 200px;
    font-family: 'Roboto', sans-serif;

}

#tela3 .container .contact-methods {
    display: flex;
    justify-content: space-between;
}

#tela3 .container h2 {
    margin-bottom: 35px;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
height: 180px;
}

#tela3 .container .contact-methods h3 {
    margin-bottom: 16px;
}

form button {
    background-color: black;
    color: #ecf0f1;
    width: 340px;
    border: none;
    cursor: pointer;
}

form button:hover{
    background-color: #545557;
}

input:focus, textarea:focus{
    outline-color: black;
}

.contact-methods .area-social-midia li {
    list-style-type: none;
    margin-bottom: 5px;
}

.social-links-icon{
    font-size: 20px;
}

.contact-methods .area-social-midia a {
    text-decoration: none;
    color: black;
}

#tela3 hr {
    margin: 70px 60px 0 60px;
    background-color: black;

}

/* FIM TELA 3 */

footer {
    background-color: #fff;
    color: black;
    padding: 16px 0;
    text-align: center;
}